{% extends 'stocks/base.html' %}
{% block content %}
<div class="container">
    <h2>About us</h2>
    <p>Behind this amazing app stands a genius dev team. It's not a "team" in the literal sense but rather just atleast one person taking on an entire team's work alone.</p>
    <small class="text-muted">For legal reasons, team size is atleat one but I hope you get the idea</small>
    <small style="font-size:1px" class="text-muted"><a href="https://brrr.money/">Still here? Really want to become a master trader?</a></small>
</div>
{% endblock content %}